{% extends 'emptysquare_common.html' %}
{% block head %}
    <meta property="og:title" content="A. Jesse Jiryu Davis"/>
    <meta property="og:type" content="gallery"/>
    <meta property="og:site_name" content="A. Jesse Jiryu Davis Photography"/>
    <meta property="og:image" content="{{ static_url('images/me.jpg') }}"/>
    <meta property="fb:admins" content="703753184"/>
    <meta name="description" content="A. Jesse Jiryu Davis's bio">
{% end %}
{% block body %}
	<div id="imageTitle"></div>
	<div id="imageContainer" style="padding-left: 15px; padding-top:10px; text-align:left">
		<div style="float:right; margin:10px;"><img src="{{ static_url('images/me.jpg') }}" width="250px" height="298px" /></div>
		<p class="bio">
			I'm an amateur portrait photographer in New York City, trained at the
            <a href="http://www.icp.org/">International Center for Photography</a>.
		</p>
		<p class="bio">
			I've covered events, created editorial portraits, and photographed landscapes for Der Spiegel,
			New York Magazine, and The Lo-Down NY.
        </p>
        <p class="bio">
            I'm now mainly documenting the Lower East Side and Zen Buddhists in New York City.
		</p>
		<div id="imageDescription" style="padding-top:25px; font-size:large">
			<a href="{{ reverse_url('contact') }}">Contact</a>
		</div>
	</div>
{% end %}
