{% extends 'emptysquare_common.html' %}
{% block body %}
	<div id="imageTitle"></div>
	<div id="imageContainer" style="padding-left: 15px; padding-top:10px; text-align:left; cursor:inherit">
		<h2>CONTACT</h2>
		<p class="bio">
			<strong>A. Jesse Jiryu Davis</strong>
		</p>
		
		<p class="bio">
			<table class="contact">
				<tr><td>c.</td><td><img src="/static/images/phone_number.gif"/></td></tr>
				<tr><td>e.</td><td><a href="mailto:ajdavis@cs.oberlin.edu">ajdavis@cs.oberlin.edu</a></td></tr>
				<tr><td>f.</td><td><a href="http://flickr.com/photos/emptysquare" target="_blank">flickr.com/photos/emptysquare</a></td></tr>
				<tr><td>t.</td><td><a href="http://twitter.com/jessejiryudavis" target="_blank">twitter.com/jessejiryudavis</a></td></tr>
				<tr><td>fb.</td><td><a href="http://facebook.com/jiryu" target="_blank">facebook.com/jiryu</a></td></tr>
				<tr><td>in.</td><td><a href="http://www.linkedin.com/in/ajessejiryudavis" target="_blank">linkedin.com/in/ajessejiryudavis</a></td></tr>
			</table>
		</p>
	</div>
{% end %}
