<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:fb="http://www.facebook.com/2008/fbml"
	  xml:lang="en" lang="en">
<head>
	<meta property="og:site_name" content="A. Jesse Jiryu Davis photography"/>
	<meta property="fb:admins" content="703753184" /> 
	<link href="{{ static_url('style.css') }}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="{{ static_url('images/favicon.gif') }}" type="image/gif" />
	<script src="{{ static_url('javascript/jquery-1.4.2.min.js') }}" type="text/javascript"></script>
	{% block head %}{% end %}
	<title>A. Jesse Jiryu Davis photography | {{ sets[current_set_index]['title'] }}</title>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	
	<script type="text/javascript">
	try{
	var pageTracker = _gat._getTracker("UA-26577074-1");
	pageTracker._trackPageview();
	} catch(err) {}
	</script>
</head>
<body>
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
		FB.init({
		  appId  : '161024807245599',
		  status : true, // check login status
		  cookie : true, // enable cookies to allow the server to access the session
		  xfbml  : true  // parse XFBML
		});
	  };
	  (function() {
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);
	  }());
	</script>
	<div id="gallery_container">
		
		<div id="gallery_header" >
			<div id="gallery_header_title">
				<span id="gallery_title">A. JESSE JIRYU DAVIS PHOTOGRAPHY</span>
			</div>
			<div id="share">
				{% block share %}
				{% end %}
			</div>
		</div>
		
		<div id="gallery_sets">
			<h2 class="set">PROJECTS</h2>
			<ul class="set_list">
				{% for index, a_set in enumerate(sets) %}
					<li>
						<a class="set {{ 'active' if index == current_set_index else '' }}"
							href="{{ reverse_url('set', a_set['slug']) }}#1/"
						>
							{{ a_set['title'] }}
						</a>
					</li>
				{% end %}
			</ul>
			<ul class="set_list">
				<li><a class="set {{ 'active' if current_slug == 'exhibitions' else '' }} exhibitions" href="../exhibitions/">Exhibitions</a></li>
				<li><a class="set {{ 'active' if current_slug == 'bio' else '' }} bio" href="../bio/">Bio</a></li>
				<li><a class="set" href="/blog">Blog</a></li>
				<li><a class="set {{ 'active' if current_slug == 'contact' else '' }} contact" href="../contact/">Contact</a></li>
			</ul>
		</div>
		
		<div id="gallery_body">
			{% block body %}{% end %}
		</div>
		
	</div>
</body>
</html>
