{% extends 'emptysquare_common.html' %}
{% block head %}
    <meta property="og:title" content="A. Jesse Jiryu Davis"/>
    <meta property="og:type" content="gallery"/>
    <meta property="og:site_name" content="A. Jesse Jiryu Davis Photography"/>
    <meta property="og:image" content="{{ static_url('images/me.jpg') }}"/>
    <meta property="fb:admins" content="703753184"/>
    <meta name="description" content="A. Jesse Jiryu Davis's photography exhibitions">
{% end %}
{% block body %}
	<div id="imageTitle"></div>
	<div id="imageContainer" style="padding-left: 15px; padding-top:10px; text-align:left">
		<h1>Exhibitions</h1>
        <h2>Past</h2>
		<dl>
            <dt><a href="http://hichristina.com/" target="_blank">HiChristina!</a></dt>
            <dd>
                <p>"Ordinary Zen", solo show.</p>
                <p>Juy 9 &mdash; 15, 2010.</p>
                <p>163 Eldridge St, New York.</p>
            </dd>
            <dt><a href="http://villagezendo.org/" target="_blank">The Village Zendo</a></dt>
            <dd>
                <p>"VZ Arts Festival", group show curated by Rodney Alan Greenblat.</p>
                <p>Oct 23, 2010.</p>
                <p>588 Broadway, New York.</p>
            </dd>
            <dt><a href="http://www.rouge58.com/" target="_blank">Rouge 58</a></dt>
            <dd>
                <p>"Boys I Know", group show curated by Pebbles Van Peebles.</p>
                <p>Sept 28 &mdash; Oct 9, 2011. Opening: 7pm.</p>
                <p>555 Metropolitan Ave, Brooklyn NY.</p>
            </dd>
        </dl>

        <h2>Current</h2>
	  <dl>
            <dt><a href="http://www.lowereastsideny.com/" target="_blank">Lower East Side BID</a></dt>
            <dd>
                <p>"Strangers", solo show.</p>
                <p>Oct 20, 2011. Opening: 6pm.</p>
                <p>Lower East Side Visitors Center.</p>
                <p>54 Orchard St, New York.</p>
            </dd>
		</dl>

        <p>Special thanks to Traven Fusho Rice and Ed Litvak, who financed the project and made these gallery shows possible by promoting my work on their blog, The Lo-Down: <a href="http://www.thelodownny.com">www.thelodownny.com</a></p>

        <div id="imageDescription" style="padding-top:25px; font-size:large">
		    <a href="{{ reverse_url('bio') }}">Biography</a>
		</div>
	</div>
{% end %}
