<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta property="og:site_name" content="A. Jesse Jiryu Davis photography"/>
	<meta property="fb:admins" content="703753184" /> 
	<title>A. Jesse Jiryu Davis photography | {{ sets[current_set_index]['title'] }}</title>
	<script type="text/javascript">
	    // Redirect non-bots
	    document.location.href = "{{ reverse_url('set', sets[current_set_index]['slug']) }}#1/";
	</script>
</head>
<body>
	<img src="{{ photos['photo'][photo_index]['source'] }}" />
</body>