<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>A. Jesse Jiryu Davis photography | {{ sets[current_set_index]['title'] }}</title>
	<script type="text/javascript">
	    // Redirect non-bots
	    document.location.href = "{{ reverse_url('set', sets[current_set_index]['slug']) }}#1/";
	</script>
</head>
<body>
	<h2>PROJECTS</h2>
	<ul>
		{% for a_set in sets %}
			<li>
				<a href="{{ reverse_url('set', a_set['slug']) }}1/">{{ a_set['title'] }}</a>
			</li>
		{% end %}
	</ul>
	<h2>INFORMATION</h2>
	<ul>
		<li><a href="../../bio/">bio</a></li>
		<li><a href="../../contact/">contact</a></li>
	</ul>
	<img src="{{ photos['photo'][photo_index]['source'] }}" title="{{ photos['photo'][photo_index]['title'] }}" />
</body>
